@font-face {
    font-family: 'DynaPuff';
    src: url(/fonts/DynaPuff_Condensed-Bold.ttf) format('truetype');
}


body {
    font-family: 'Kosugi', sans-serif;
    line-height: 1.5;
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-top: 18px;
    margin-bottom: 8px;
    font-size: 1.8rem;
}

dl {
    margin-bottom: 12px;
}

dt {
    font-size: 1.2rem;
}

dd {
    margin-bottom: 12px;
    margin-left: 6px;
}