.page_header {
    margin-bottom: 0;
    padding: 60px 10px 20px;
    background-color: #fcb0bd;
    color: #271c19;
    text-align: center;
    h1 {
        font-family: 'DynaPuff';
        font-size: 8rem;
        line-height: 0.7;
    }
    p {
        margin-top: 22px;
    }
}

.note {
    padding: 18px 14px 14px 14px;
    background-color: #dbdcdc;
    color: #55423d;
}